.linkCard__container {
  width: 100%;
  // min-height: 80px;
  border: 5px solid black;
  box-shadow: 3px 3px black;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  transition: all ease 400ms;

  .imgWrapper {
    border: 3px solid black;
    height: 80px;
    min-width: 80px;
    border-radius: 6px;
    margin-right: 12px;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      border-radius: 3px;
    }
  }

  .infoWrapper {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 12px;
    align-items: center;
    font-family: 'Invasion';
    color: white;

    .arrow {
      font-size: 28px;
    }

    .info {
      .title {
        font-size: 22px;
        margin-bottom: 4px;
      }

      .subtitle {
        font-size: 14px;
      }
    }
  }
}
